/* I need to put here all the colors that I wanna change */

/* 
:root{
  --body_background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);;
  --body_color: white;
  --link-color:navy;

}

body[data-theme="dark"]{
  --body_background:#282c34;
  --body_color: white;
  --link-color:cyan;
 
} */



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* new : */
  /* background-color: var(--body_background);
  color: var(--body_color); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
