.navBar-container{

display: flex;

      // padding: 3% 5%;
      width: 80%;
      
      border: solid rgb(255, 213, 0) 3px;
     
      // margin-left: 10%;
      
      ul{
        display: flex;
        align-items: center;
        // justify-content:right;
        // justify-content: space-between;

        // width: 100%;

        // border: solid yellowgreen;


    }
    li{
      list-style-type: none;
      padding: 2% 5%;
      border-radius: 10px;
      position: relative;
      color: white;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      font-size: large;
      font-family: sans-serif;
    }
    
    li:hover{
      background-color: rgba(255, 255, 255, 0.592);
      color: greenyellow;
      // color: black;
    }
    li div.active{
      color: greenyellow;
    }
    li:hover::after,
    li div.active::after{
      width: 30%;
      height: 2px;
      // background:greenyellow ;
      position: absolute;
      bottom: -4px;
      left: 20px ;
    }

    .link{
      display: flex;
      align-items: center;
    }

    .fa{
      padding:5px;
    }

    #mobile {
      display: none;
    }

    .menu-close{
      display: none;
     }
    .menu-open{
      display: block;
      background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(57,135,255,1) 0%, rgba(58,184,255,1) 35%, rgba(34,218,255,1) 100%);
      color: white;
      position: fixed;
      top: 90px;
      padding: 1%;
      transition: 0.3s ease-in-out;
      border-radius:0 0 10px 10px;
    }

    .menu-open div{
      padding: 5%;
    }

    .menu-open div:hover{
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.592);
      color: black;
    }    
    
    .darkModeOn{
      background-color: aliceblue;
    }

    @media screen and (max-width: 1280px ){

      ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content:flex-start;
        position: fixed;
        top: 90px;
        right:-310px;
        width: 300px;
        height:100vh;
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(57,135,255,1) 0%, rgba(58,184,255,1) 35%, rgba(34,218,255,1) 100%);
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
      }

      ul.mobileOn{
        right:0px;
      }

      li{
        margin-bottom: 10%;
      }

      #mobile {
        display: block;
        cursor: pointer;
        margin-right: 30px;
      }
      #mobile i{
        color: white;
        font-size: 130%;
      }

      .menu-close{
        display: none;
       }
      .menu-open{
        display: block;
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(57,135,255,0) 0%, rgba(58,184,255,0) 35%, rgba(34,218,255,0) 100%);
        color: white;
        position: initial;
        transition: 0.3s ease-in-out;
        border-radius:0 0 10px 10px;
      }
  
      .menu-open div{
        padding: 5%;
      }
  
      .menu-open div:hover{
        border-radius: 10px;
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(57,135,255,1) 0%, rgba(58,184,255,1) 35%, rgba(34,218,255,1) 100%);
        color: black;
      }    
    }
  }





/*

body {
  background-color: #dadada;
  color: #1f2023;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1f2023;
    color: #dadada;
  }
}

*/
