// Done

.lineChart-container{
 
  display:flex;
  position: relative; 
  min-height:30vh; 
  justify-content: center;


@media screen and (max-width: 820px ){
    box-sizing: border-box;
    display: block;
    width: 100%;
}
  }
