.menuBar-container{
    background-color:grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    /* justify-content: space-around; */
    /* width: 100%; */

    /* box-shadow: rgba(149, 157, 165, 0.526) 0px 8px 24px; */
  }