.menuBar-container{
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    width: 100%;

    /*
    TODO find a way to responsive the height in the right size
    for all the screen sizes 
    */
    
    height:8vh;
    /* height: 70px; */
    position: relative; /* Ensure that the position is relative for z-index to work */
    z-index: 1; /* Set a higher z-index value */

    justify-content: space-between;

    /* border: solid red 3px; */

    /* justify-content:space-around; */
    /* height: 90px; */
    /* box-sßhadow: rgba(149, 157, 165, 0.526) 0px 8px 24px; */
  


@media screen and (max-width: 820px ){
  
  height: 6vh;
  
}
  
  
  }



